// 颜色定义规范
$color-tab:#202023;
$color-aside:#191B1F;
$color-main:#16181C;
$color-hot1:#202226;
$color-hot2:#26282C;
$color-background:#222;
$color-background-d:rgba(0, 0, 0, 0.3);
$color-highlight-background:#333;
$color-dialog-background:#666;
$color-banner-red:#CC4A4A;
$color-banner-blue:#4A79CC;
$color-theme : #ffcd32;
$color-theme-d : rgba(255, 205, 49, 0.5);
$color-sub-theme : #d93f30;
$color-bg-red:#CD2929;
$color-text : #fff;
$color-text-danhui:#ABADB1;
$color-text-main:#939496;
$color-text-2:#D0D1D8;
$color-text-d : rgba(255, 255, 255, 0.3);
$color-text-l : rgba(255, 255, 255, 0.5);
$color-text-ll : rgba(255, 255, 255, 0.8);

//字体定义规范
$font-size-small-s : .1rem;
$font-size-small : .12rem;
$font-size-medium : .14rem;
$font-size-medium-x : .16rem;
$font-size-large : .18rem;
$font-size-large-x : .22rem;